<md-tab-group>
<md-tab label="Book Parking">
      <md-card class='example-card '>
<div class='head-hh'>
    <md-progress-spinner  mode="indeterminate" *ngIf='spinner'></md-progress-spinner>
    <form class='example-form' (ngSubmit)="reserveParking()" #reserveParkingForm="ngForm">
             <div>
          <md-input-container>
            <input md-input type="date" [(ngModel)]="booking.date" name="date"  #date="ngModel"  placeholder="Select Date" required>
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <input md-input type="time" [(ngModel)]="booking.time" name='time' #time="ngModel"  placeholder="Select Starting Time" required>
          </md-input-container>
        </div>
        <div>
            <md-select placeholder="Select Hours" [(ngModel)]="booking.selectedhours" name="selectedhours"  #selectedhours="ngModel">
                <md-option *ngFor="let type of hours" [value]="type">
                    {{ type }}
                </md-option>
            </md-select>
            <md-select placeholder="Select Location" [(ngModel)]="booking.location" name="location"   #location="ngModel" (ngModelChange)="updateSlots(booking.location)">
                <md-option *ngFor="let location of locations" [value]="location">
                    {{ location.$key }}
                </md-option>
            </md-select>
        </div>
        
        <div class="submit-button">
            <button md-raised-button color='primary' type="submit">Book</button>
            <button md-raised-button color='primary' (click)='cancel()'>Clear</button>
        </div>
    </form>
    <div *ngIf='currentSelectedSlots.length'>
            <h3>Please select your desired slot</h3>
            <!--<div class='slots' *ngFor="let slots of currentSelectedSlots" (click)='selectSlot(slots)'> </div>-->
            <button md-raised-button *ngFor="let slots of currentSelectedSlots;let i=index"  [disabled]="slots.bookedBy==''?false:true" [color]='slots.selected?"warn":""' (click)='selectSlot(slots,i)'> {{slots.name}}</button>
        </div>
</div>
    
     </md-card>
</md-tab>
<md-tab label="View Locations">
    <h3>Available Slots</h3>
    <div *ngIf='availableSlots && availableSlots.length'>
        <md-card>   
            <div>
                <h3><md-card-content>Location 1:</md-card-content></h3>
                <button class="availSlots" md-raised-button *ngFor="let slots of availableSlots[0]"  [disabled]="true"> {{slots.name}}</button>
            </div>
        </md-card>
        <md-card>   
            <div>
                <h3><md-card-content>Location 2:</md-card-content></h3>
                <button class="availSlots" md-raised-button *ngFor="let slots of availableSlots[1]"  [disabled]="true"> {{slots.name}}</button>
            </div>
        </md-card>
        <md-card >   
            <div>
                <h3><md-card-content>Location 3:</md-card-content></h3>
                <button class="availSlots" md-raised-button *ngFor="let slots of availableSlots[2]"  [disabled]="true"> {{slots.name}}</button>
            </div>
        </md-card>
    </div>
    
  </md-tab>
  <md-tab label="My Bookings">
    <ul *ngIf='myBookings.length'>
        <li *ngFor="let item of myBookings">
        <md-card class='my-booking-card'>
            <md-card-content>Selected Location: {{item.location}} </md-card-content>
            <md-card-content>Slot: {{item.name}} </md-card-content>
            <md-card-content>Date for Parking: {{item.parkingDate}} </md-card-content>
            <md-card-content>Time required: {{item.parkingHrs}} </md-card-content>
            <md-card-content>Booked at: {{item.startTime}} </md-card-content>
            <button class='remove-b' md-raised-button color='accent' (click)='removeParking(item)'>Remove</button>
        </md-card>
        </li>
  </ul>
  <md-card *ngIf='myBookings.length < 1'>
      <md-card-content>Currently you have no bookings</md-card-content>
  </md-card>
  </md-tab>
  <md-tab label='Feedback'> 
            <h2 class='feed-back-head'>Send your feedback</h2>
      
    <md-grid-list cols="3">
        <md-grid-tile></md-grid-tile>
        <md-grid-tile> 
            
            <form class='example-form' (ngSubmit)="sendFeedback()" #feedbackForm="ngForm">
                    <div>
                <md-input-container>
                    <textarea class="feed-back" md-input  [(ngModel)]="feedback.message" name="message"  #message="ngModel"  placeholder="Enter your message" required></textarea>
                </md-input-container>
                <div class="submit-button">
                    <button md-raised-button color='primary' type="submit">Send</button>
                    <button md-raised-button color='primary' (click)='cancel()'>Clear</button>
                </div>
                </div>
            </form>
            </md-grid-tile>
        <md-grid-tile></md-grid-tile>
    </md-grid-list>
  </md-tab>
</md-tab-group>